body {
	background-color: #292929;
	color: #f2f2f2;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	text-align: center;
	font-size: 50px;
}

p {
	color: #dbdbdb;
}

li {
	color: #dbdbdb;
}

.header {
	display: flex;
	font-size: 35px;
	background-color: #3d3d3d;
}

.header p {
	margin-left: 20px;
}