body {
	background-color: #292929;
	color: #f2f2f2;
}

h1 {
	text-align: center;
	font-size: 50px;
}

p {
	color: #dbdbdb;
	font-size: 20px;
}

li {
	color: #dbdbdb;
}

.header {
	display: table;
  content: "";
	font-size: 35px;
	background-color: #3d3d3d;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
}

.header p {
	margin-left: 20px;
  display: inline;
  vertical-align: middle;
}

#total {
	margin-left: 5%;
	margin-right: 5%;
}

#shell {
	height: 500px;
}
.gitLink {
  color: #f2f2f2;
  text-decoration: underline;
}

#home {
  font-size: 40px;
}

a {
	text-decoration: none;
}

h3 {
  color: #f2f2f2;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}